@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

html,
body {
  padding: 0!important;
  margin: 0!important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif!important;
    
}
.container{
  padding: 0!important;
  padding-bottom: 3rem!important;
}

a {
  color: inherit!important;
  text-decoration: none!important;
}

* {
  box-sizing: border-box!important;
}

body {
  background-color: #fffcf2!important;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif!important;
}


/* NAV BAR */
.navbar-navbar{
  background-color: #ECAC43!important;
}
.offcanvas{
  background-color: #fffcf2!important;
}
.nav-button-expand{
  height: 4rem!important;
  width: 4rem!important;
  align-self: center!important;
  border: 2px black solid!important;
}
.offcanvas-header{
  display:inherit!important;
}
.nav-logo-container{
display:flex!important;
justify-content: flex-end!important;
}

.nav-logo-expand{
  height: 6rem!important;
  width: 6rem!important;
  margin-left: 5rem!important;
}
.btn-close{
margin-left: 8.5rem!important;
align-self: flex-start!important;
}

.offcanvas-body{
  padding: 0rem!important;
}
.nav-Links .navbar-toggler {
  height: 2rem!important;
  width: 90%!important;
}
.container-fluid{
  flex: none!important;
  height: 100%!important;
}
/* .navbar{
  padding: none!important;
  height: 80px!important;
} */
.nav-Items{
  display: flex!important;
  width: 100%!important;
  height: 100%!important;
}
.nav-Title{
 margin-left: auto!important;
 margin-right: auto!important;
 align-self: center!important;
 font-family: 'Bevan', cursive!important;
 font-size: 4rem!important;
}
.round-User-Img{
  height: 45px!important;
  width: 45px!important;
  border-radius: 50%!important;
}


.sign-in-style{
  background-color: #6a994e!important;
  color: black!important;
  height: 3rem!important;
  width: 7rem!important;
  align-self: center!important;
}
.sign-out-style{
  background-color: firebrick!important;
  color: black!important;
  height: 3rem!important;
  align-self: center!important;
  width: 7rem!important;
}
.sign-in-collapse{
  background-color: #6a994e!important;
  color: black!important;
  height: 2.5rem!important;
  width: 15rem!important;
  align-self: center!important;
  margin-left: -2.3rem!important;
}
.sign-out-collapse{
  background-color: firebrick!important;
  color: black!important;
  height: 2.5rem!important;
  align-self: center!important;
  width: 15rem!important;
  margin-left: -2.3rem!important;
}
/*NAV NO SHOW ON USER FORM */
.nav-No-Show{
  display: none!important;
}
.nav-Show{
  display: none!important;
}

/*MAIN LANDING*/
.main-Div{
  display: flex!important;
  justify-content: center!important;
}
.background-Image{
  margin-top: 2rem!important;
  width: 100%!important;
  max-height: 600px!important;
  object-fit: cover!important;
 }
.main-Head-Search{
  position: absolute!important;
  align-self: center!important;
  margin-bottom: 18rem!important;
}
.main-Featured-Div{
  border: #2a9d8f 6px solid!important;
  margin-top: 1.5rem!important;
  display:flex!important;
  flex-direction: column!important;
  align-items: center!important;
  padding: 2rem!important;
}
.featured-Content-Div{
  display:flex!important;
  justify-content: center!important;
  flex-wrap:wrap!important;
}
/* User Form */

.user-form-header{
  margin-top: 1rem!important;
}
.user-form-image-div{
 display: flex!important;
 align-items: center!important;
}
.user-form-image{
  margin-top: 1rem!important;
  height: 150px!important;
  width: 150px!important;
  border-radius: 50%!important;
  object-fit: cover!important;
  margin-bottom: 1rem!important;
}
.user-form-upload{
margin-left: 1rem!important;
}
.user-form label {
  margin-top: 4px!important;
  margin-bottom: -2px!important;
  margin-left: .5rem!important;
}

/*Profile*/

.user-Profile-Card{
  display: flex!important;
  margin-top: 2rem!important;
  width: 80%!important;
  flex-direction: row!important;
  border-radius: 1rem!important;
  align-items: center!important;
  margin-right: auto!important;
  margin-left: auto!important;
}
.user-Profile-Image{
  width: 400px!important;
}
.profile-Info-Div{
  margin: 10px!important;
  margin-right: 40px!important;
  width: 100%!important;
}
.profile-Interest-Div{
  width: 100%!important;
  margin: 10px!important;
}
.profile-events-header{
  margin-top: 1rem!important;
  text-align: center!important;
}
.user-Events-Div{
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}
.profile-dropdown{
  align-self: start!important;
}


/*DropDown*/
.dropdown-toggle::after{
  display: none!important;
  }
  .dropdown-toggle{
    background-color: transparent!important;
    color: black!important;
    border: none!important;
  }

/* EVENT FORM */
.event-form-columns{
  display: flex!important;
  flex-direction: column!important;
}
.event-form-columns > * {
  display: flex!important;
  justify-content: space-evenly!important;
}
.event-form-title-date > * {
  width: 45%!important;
}
.event-form-time-category > * {
  width: 45%!important;
}
.event-form-location-city > * {
  width: 45%!important;
}
.event-form-description{
  margin-right: auto!important;
  margin-left: auto!important;
  width: 93%!important;
}

.event-Form-Photos{
  height: 200px!important;
  width: auto!important;
}
.event-Star-And-Public{
  margin-top: 20px!important;
  display: flex!important;
  justify-content: space-evenly!important;
}
.react-simple-star-rating-tooltip{
  width: 155px!important;
  text-align: center!important;
}
.event-form-public-check{
 font-size: large!important; 
 font-weight: 400!important;
}
/* event form images */
.event-Image-Upload-Div{
  margin-right: auto!important;
  margin-left: auto!important;
  width: 93%!important;
}
.uploaded-Images-Div{
  margin: 2rem!important;
  display: flex!important;
  justify-content: space-evenly!important;
}
.uploaded-Images-Container{
  position:relative!important;
  display: inline-block!important;
}
.image-Delete{
  position:absolute!important;
  top:10px!important;
  right:10px!important;
  border: 2px gray solid!important;
}
.event-form-buttons{
  display: flex!important;
  justify-content: space-evenly!important;
}


/* Event Card New */
.event-card {
  width: 355px!important;
  margin: 8px!important;
}
.event-card-carousel{
  width: 100%!important;
}
.event-card-image{
  height: 265px!important;
  width: 353px!important; 
  object-fit: cover!important;
}
.event-card-body{
  padding: 8px!important;
  height: 116px!important;
}
.event-card-title {
  height: 2rem!important;
  display: flex!important;
  justify-content: space-between!important;
  overflow: scroll!important;
}

.event-card-header{
  display:flex!important;
  justify-content: space-between!important;
  padding-left: .5rem!important;
}
.event-card-user{
  display: flex!important;
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}
.event-card-username{
  margin-left: .6rem!important;
  margin-top: .4rem!important;
}
.event-card-dropdown{
  align-self: center!important;
}

.event-card-location {
  display: flex!important;
  justify-content: space-between!important;
}

.event-card-rating{
  display: flex!important;
  justify-content: center!important;
}
.event-card-time-of-day::first-letter{
  text-transform: capitalize!important;
}
.event-card-time-of-day{
  align-self: center!important;
  background-color: #f48c06!important;
  padding: .1rem!important;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  border-radius: 1rem!important;
}

/* DAY FORM */
.day-form{
  text-align: center!important;
  margin-top: 2rem!important;
}
.day-form-title-city{
  display: flex!important;
  justify-content: space-evenly!important;
}
.day-form-title-city > * {
  width: 45%!important;
}
.day-form-city-public {
  display: flex!important;
  justify-content: space-evenly!important;
}
.day-form-city-public > * {
  width: 45%
}
.day-form-public-div{
  display:flex!important;
  justify-content: center!important;
}
.day-form-public-check{
  align-self: center!important;
  margin-top: 2rem!important;
}
.day-form-description{
  width: 93%!important;
  margin-right: auto!important;
  margin-left: auto!important;
}
.day-Event-Div{
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}
.day-form-events-header{
  margin-top: 1rem!important;
  text-align: center!important;
}
.day-form-select-events{
  display: flex!important;
  flex-direction: column!important;
}
.day-form-events-select-head{
  text-align: center!important;
  margin-top: 1rem!important;
}

.day-form-events-buttons{
  display: flex!important;
  justify-content: space-around!important;
  margin-left: 6rem!important;
  margin-right: 6rem!important;
}

.day-form-submit-buttons{
  display: flex!important;
  justify-content: space-around!important;
  margin-right: 6rem!important;
  margin-left: 6rem!important;
  margin-top: 1rem!important;
}
.day-form-submit-buttons > *{
  width: 8rem!important;
  color: white!important;
}
.day-form-modal-check{
  margin: .5rem!important;
}

/* Day Card New*/
.day-card{
  display: flex!important;
  flex-wrap: wrap!important;
  width: 727px!important;
  margin: 8px!important;
}
.day-card-head{
  display:flex!important;
  justify-content: space-between!important;
}
.day-card-dropdown{
  margin-top: -.5rem!important;
}
.day-card-info{
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}
.day-card-city{
  padding-top: 1rem!important;
}
.day-card-user{
  display: flex!important;
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}
.day-card-username{
  margin-left: .6rem!important;
  margin-top: .4rem!important;
}
.day-card-bottom{
  display:flex!important;
  flex-direction: row!important; 
  justify-content: space-evenly!important;
}
.day-card-events-header{
 text-decoration:underline!important;
}
.day-card-events{
  display: flex!important;
  flex-direction: column!important;
  align-items: center!important;
  justify-content: space-around!important;
  margin-bottom: 2rem!important;
  margin-top: -2rem!important;
}
.day-card-photos{
  align-self: right!important;
  margin-bottom: 1rem!important;
  max-width: 397px!important;
}


/* EVENT PAGE */
.event-page-carousel{
  max-height: 600px!important;
  max-width: 800px!important;
  margin-right: auto!important;
  margin-left:auto!important;
}
.event-page-images{
  max-height: 600px!important;
  max-width: 800px!important;
  object-fit: cover!important;
}

/* Broswe EVents Page*/

.browse-Events-div{
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}

/* BROWSE DAYS */

.browse-days-div {
  display: flex!important;
  justify-content: center!important;
  flex-wrap: wrap!important;
}


/*Day Form Modal*/

.modal-Event-Check{
  display: flex!important;
  align-items: center!important;
}
.event-Modal-Card{
  width: 100%!important;
}



/* View Day */
.view-day-head{
  display: flex!important;
  justify-content: space-between!important;
}
.view-day-user{
  display: flex!important;
  /* margin-top: .5rem!important; */
  margin-bottom: .6rem!important;
}
.view-day-username{
  margin-left: .6rem!important;
  margin-top: .4rem!important;
}
.view-day-details{
  display: flex!important;
  justify-content: space-between!important;
}
.view-day-description{
  max-width: 800px!important;
  align-self: center!important;
  margin-right: 8rem!important;
}
.view-day-events-header{
  margin-left: 2rem!important;
}
.view-day-events-div{
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}

/* COMMENT FORM */

.comment-form {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
  display: flex!important;
  justify-content: center!important;
}
.comment-form .form-control {
  border: #1b5983 2px solid!important;
  height: 3rem!important;
  line-height: 3rem!important;
  align-self: center!important;
  overflow-wrap: break-word!important;
  width: 50%!important;
  line-height: normal!important;
}
.comment-form-button{
  margin-right: .5rem!important;
  background-color: #1b5983!important;
  height: 3rem!important;
  align-self: center!important;
}

.comment-form-user-image{
  height: 40px!important;
  width: 40px!important;
  border-radius: 50%!important;
  margin: .5rem!important;
  object-fit: cover!important;
}

/* COMMENT CARD */

.comment-Card {
  width: 100%!important;
  padding-left: 10px!important; 
  display:flex!important;
  flex-direction: column!important;
  border-bottom: solid 1px black!important;
  padding: 6px!important;
}
.comment-card-top{
  display: flex!important;
  justify-content: space-between!important;
}
.comment-card-user{
  display: flex!important;
  margin-top: .5rem!important;
  margin-bottom: .6rem!important;
}
.comment-card-username{
  margin-left: .6rem!important;
  margin-top: .4rem!important;
  font-weight: 600!important;
}
.comment-User-Image{
  height: 40px!important;
  width: 40px!important;
  border-radius: 50%!important;
}
.comment-card-comment{
  padding-top: .5rem!important;
  align-self: center!important;
  width: 75%!important;
}
.comment-card-date{
  font-size: smaller!important;
}

/* SEARCH PAGE */
.search-Actions-Div{
  margin-top: 2rem!important;
  margin-bottom: 2rem!important;
  display:flex!important;
  flex-direction: column!important;
  align-items: center!important;
}
.search-Results-Div{
display: flex!important;
flex-wrap: wrap!important;
justify-content: center!important;
}
.search-page-search{
  width: 50%!important;
}
.search-page-city-select{
  width: 50%!important;
}
.search-page-category-select{
  width: 50%!important;
}

/* USER PAGE */
.user-page-events-header{
  margin-top: 1rem!important;
  text-align: center!important;
}
.user-Events-Div{
  display: flex!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
}
.user-page-header{
  text-align: center!important;
  margin-top: 1rem!important;
  margin-bottom: -1rem!important;
}

/* FOOTER */
.footer{
  margin-top: 1rem!important;
  justify-content: space-around!important;
  align-items: center!important;
  background-color: #ECAC43!important;
  position:fixed!important;
  left:0!important;
  bottom:0!important;
  right:0!important;
  height: 2rem!important;
}
.footer .nav-link {
  color: inherit!important;
}
