@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}
.container{
  padding: 0;
  padding-bottom: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fffcf2;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


/* NAV BAR */
.navbar-navbar{
  background-color: #ECAC43;
}
.offcanvas{
  background-color: #fffcf2;
}
.nav-button-expand{
  height: 4rem;
  width: 4rem;
  align-self: center;
  border: 2px black solid;
}
.offcanvas-header{
  display:inherit;
}
.nav-logo-container{
display:flex;
justify-content: flex-end;
}

.nav-logo-expand{
  height: 6rem;
  width: 6rem;
  margin-left: 5rem;
}
.btn-close{
margin-left: 8.5rem;
align-self: flex-start;
}

.offcanvas-body{
  padding: 0rem;
}
.nav-Links .navbar-toggler {
  height: 2rem;
  width: 90%;
}
.container-fluid{
  flex: none;
  height: 100%;
}
/* .navbar{
  padding: none;
  height: 80px;
} */
.nav-Items{
  display: flex;
  width: 100%;
  height: 100%;
}
.nav-Title{
 margin-left: auto;
 margin-right: auto;
 align-self: center;
 font-family: 'Bevan', cursive;
 font-size: 4rem;
}
.round-User-Img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}


.sign-in-style{
  background-color: #6a994e;
  color: black;
  height: 3rem;
  width: 7rem;
  align-self: center;
}
.sign-out-style{
  background-color: firebrick;
  color: black;
  height: 3rem;
  align-self: center;
  width: 7rem;
}
.sign-in-collapse{
  background-color: #6a994e;
  color: black;
  height: 2.5rem;
  width: 15rem;
  align-self: center;
  margin-left: -2.3rem;
}
.sign-out-collapse{
  background-color: firebrick;
  color: black;
  height: 2.5rem;
  align-self: center;
  width: 15rem;
  margin-left: -2.3rem;
}
/*NAV NO SHOW ON USER FORM */
.nav-No-Show{
  display: none;
}
.nav-Show{
  display: none;
}

/*MAIN LANDING*/
.main-Div{
  display: flex;
  justify-content: center;
}
.background-Image{
  margin-top: 2rem;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
 }
.main-Head-Search{
  position: absolute;
  align-self: center;
  margin-bottom: 18rem;
}
.main-Featured-Div{
  border: #2a9d8f 6px solid;
  margin-top: 1.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.featured-Content-Div{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
/* User Form */

.user-form-header{
  margin-top: 1rem;
}
.user-form-image-div{
 display: flex;
 align-items: center;
}
.user-form-image{
  margin-top: 1rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.user-form-upload{
margin-left: 1rem;
}
.user-form label {
  margin-top: 4px;
  margin-bottom: -2px;
  margin-left: .5rem;
}

/*Profile*/

.user-Profile-Card{
  display: flex;
  margin-top: 2rem;
  width: 80%;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.user-Profile-Image{
  width: 400px;
}
.profile-Info-Div{
  margin: 10px;
  margin-right: 40px;
  width: 100%;
}
.profile-Interest-Div{
  width: 100%;
  margin: 10px;
}
.profile-events-header{
  margin-top: 1rem;
  text-align: center;
}
.user-Events-Div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-dropdown{
  align-self: start;
}


/*DropDown*/
.dropdown-toggle::after{
  display: none;
  }
  .dropdown-toggle{
    background-color: transparent;
    color: black;
    border: none;
  }

/* EVENT FORM */
.event-form-columns{
  display: flex;
  flex-direction: column;
}
.event-form-columns > * {
  display: flex;
  justify-content: space-evenly;
}
.event-form-title-date > * {
  width: 45%;
}
.event-form-time-category > * {
  width: 45%;
}
.event-form-location-city > * {
  width: 45%;
}
.event-form-description{
  margin-right: auto;
  margin-left: auto;
  width: 93%;
}

.event-Form-Photos{
  height: 200px;
  width: auto;
}
.event-Star-And-Public{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.react-simple-star-rating-tooltip{
  width: 155px;
  text-align: center;
}
.event-form-public-check{
 font-size: large; 
 font-weight: 400;
}
/* event form images */
.event-Image-Upload-Div{
  margin-right: auto;
  margin-left: auto;
  width: 93%;
}
.uploaded-Images-Div{
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.uploaded-Images-Container{
  position:relative;
  display: inline-block;
}
.image-Delete{
  position:absolute;
  top:10px;
  right:10px;
  border: 2px gray solid;
}
.event-form-buttons{
  display: flex;
  justify-content: space-evenly;
}


/* Event Card New */
.event-card {
  width: 355px;
  margin: 8px;
}
.event-card-carousel{
  width: 100%;
}
.event-card-image{
  height: 265px;
  width: 353px; 
  object-fit: cover;
}
.event-card-body{
  padding: 8px;
  height: 116px;
}
.event-card-title {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.event-card-header{
  display:flex;
  justify-content: space-between;
  padding-left: .5rem;
}
.event-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.event-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.event-card-dropdown{
  align-self: center;
}

.event-card-location {
  display: flex;
  justify-content: space-between;
}

.event-card-rating{
  display: flex;
  justify-content: center;
}
.event-card-time-of-day::first-letter{
  text-transform: capitalize;
}
.event-card-time-of-day{
  align-self: center;
  background-color: #f48c06;
  padding: .1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

/* DAY FORM */
.day-form{
  text-align: center;
  margin-top: 2rem;
}
.day-form-title-city{
  display: flex;
  justify-content: space-evenly;
}
.day-form-title-city > * {
  width: 45%;
}
.day-form-city-public {
  display: flex;
  justify-content: space-evenly;
}
.day-form-city-public > * {
  width: 45%
}
.day-form-public-div{
  display:flex;
  justify-content: center;
}
.day-form-public-check{
  align-self: center;
  margin-top: 2rem;
}
.day-form-description{
  width: 93%;
  margin-right: auto;
  margin-left: auto;
}
.day-Event-Div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.day-form-events-header{
  margin-top: 1rem;
  text-align: center;
}
.day-form-select-events{
  display: flex;
  flex-direction: column;
}
.day-form-events-select-head{
  text-align: center;
  margin-top: 1rem;
}

.day-form-events-buttons{
  display: flex;
  justify-content: space-around;
  margin-left: 6rem;
  margin-right: 6rem;
}

.day-form-submit-buttons{
  display: flex;
  justify-content: space-around;
  margin-right: 6rem;
  margin-left: 6rem;
  margin-top: 1rem;
}
.day-form-submit-buttons > *{
  width: 8rem;
  color: white;
}
.day-form-modal-check{
  margin: .5rem;
}

/* Day Card New*/
.day-card{
  display: flex;
  flex-wrap: wrap;
  width: 727px;
  margin: 8px;
}
.day-card-head{
  display:flex;
  justify-content: space-between;
}
.day-card-dropdown{
  margin-top: -.5rem;
}
.day-card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-card-city{
  padding-top: 1rem;
}
.day-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.day-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.day-card-bottom{
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
}
.day-card-events-header{
 text-decoration:underline;
}
.day-card-events{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: -2rem;
}
.day-card-photos{
  align-self: right;
  margin-bottom: 1rem;
  max-width: 397px;
}


/* EVENT PAGE */
.event-page-carousel{
  max-height: 600px;
  max-width: 800px;
  margin-right: auto;
  margin-left:auto;
}
.event-page-images{
  max-height: 600px;
  max-width: 800px;
  object-fit: cover;
}

/* Broswe EVents Page*/

.browse-Events-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* BROWSE DAYS */

.browse-days-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/*Day Form Modal*/

.modal-Event-Check{
  display: flex;
  align-items: center;
}
.event-Modal-Card{
  width: 100%;
}



/* View Day */
.view-day-head{
  display: flex;
  justify-content: space-between;
}
.view-day-user{
  display: flex;
  /* margin-top: .5rem; */
  margin-bottom: .6rem;
}
.view-day-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.view-day-details{
  display: flex;
  justify-content: space-between;
}
.view-day-description{
  max-width: 800px;
  align-self: center;
  margin-right: 8rem;
}
.view-day-events-header{
  margin-left: 2rem;
}
.view-day-events-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* COMMENT FORM */

.comment-form {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.comment-form .form-control {
  border: #1b5983 2px solid;
  height: 3rem;
  line-height: 3rem;
  align-self: center;
  overflow-wrap: break-word;
  width: 50%;
  line-height: normal;
}
.comment-form-button{
  margin-right: .5rem;
  background-color: #1b5983;
  height: 3rem;
  align-self: center;
}

.comment-form-user-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: .5rem;
  object-fit: cover;
}

/* COMMENT CARD */

.comment-Card {
  width: 100%;
  padding-left: 10px; 
  display:flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  padding: 6px;
}
.comment-card-top{
  display: flex;
  justify-content: space-between;
}
.comment-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .6rem;
}
.comment-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
  font-weight: 600;
}
.comment-User-Image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.comment-card-comment{
  padding-top: .5rem;
  align-self: center;
  width: 75%;
}
.comment-card-date{
  font-size: smaller;
}

/* SEARCH PAGE */
.search-Actions-Div{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.search-Results-Div{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.search-page-search{
  width: 50%;
}
.search-page-city-select{
  width: 50%;
}
.search-page-category-select{
  width: 50%;
}

/* USER PAGE */
.user-page-events-header{
  margin-top: 1rem;
  text-align: center;
}
.user-Events-Div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user-page-header{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

/* FOOTER */
.footer{
  margin-top: 1rem;
  justify-content: space-around!important;
  align-items: center;
  background-color: #ECAC43;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
  height: 2rem;
}
.footer .nav-link {
  color: inherit;
}
