@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.container{
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ede8d6;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


/* NAV BAR */
.container-fluid{
  flex: none;
  height: 100%;
}
.navbar{
  padding: none;
  height: 70px;
}
.navItems{
  display: flex;
  width: 100%;
  height: 100%;
}
.navTitle{
 margin-left: auto;
 margin-right: auto;
 align-self: center;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
 font-size:xx-large;
}
.roundUserImg{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.navbar-toggler{
  margin: 10px;
}
.sign-in{
  background-color: #4d9f0a;
  color: black;
}
.sign-out{
  background-color: firebrick;
  color: black;
}
/*NAV NO SHOW ON USER FORM */
.navNoShow{
  display: none;
}
.navShow{
  display: none;
}

/*MAIN LANDING*/
.mainDiv{
  display: flex;
  justify-content: center;
}
.backgroundImage{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
 }
.mainHeadSearch{
  position: absolute;
  align-self: center;
  margin-bottom: 350px;
}
.mainFeaturedDiv{
  margin-top: 1.5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.featuredContentDiv{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
/* User Form */

.user-form-image-div{
 display: flex;
 align-items: center;
}
.user-form-image{
  margin-top: 1rem;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.user-form-upload{
margin-left: 1rem;
}
.user-form label {
  margin-top: 4px;
  margin-bottom: -2px;
  margin-left: .5rem;
}

/*Profile*/
.userProfileCard{
  display: flex;
  margin-top: 2rem;
  width: 80%;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.profileInfoDiv{
  margin: 10px;
  margin-right: 40px;
  width: 100%;
}
.profileInterestDiv{
  width: 100%;
  margin: 10px;
}
.profile-events-header{
  margin-top: 1rem;
  text-align: center;
}
.userEventsDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-dropdown{
  align-self: start;
}


/*DropDown*/
.dropdown-toggle::after{
  display: none;
  }
  .dropdown-toggle{
    background-color: transparent;
    color: black;
    border: none;
  }

/* EVENT FORM */
.event-form-columns{
  display: flex;
  flex-direction: column;
}
.event-form-columns > * {
  display: flex;
  justify-content: space-evenly;
}
.event-form-title-date > * {
  width: 45%;
}
.event-form-time-category > * {
  width: 45%;
}
.event-form-location-city > * {
  width: 45%;
}
.event-form-description{
  margin-right: auto;
  margin-left: auto;
  width: 93%;
}

.eventFormPhotos{
  height: 200px;
  width: auto;
}
.eventStarAndPublic{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.react-simple-star-rating-tooltip{
  width: 155px;
  text-align: center;
}
.event-form-public-check{
 font-size: large; 
 font-weight: 400;
}
/* event form images */
.eventImageUploadDiv{
  margin-right: auto;
  margin-left: auto;
  width: 93%;
}
.uploadedImagesDiv{
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.uploadedImagesContainer{
  position:relative;
  display: inline-block;
}
.imageDelete{
  position:absolute;
  top:10px;
  right:10px;
  border: 2px gray solid;
}
.event-form-buttons{
  display: flex;
  justify-content: space-evenly;
}


/* Event Card New */
.event-card {
  max-width: 400px;
  margin: 8px;
}
.event-card-carousel{
  min-width: 400px;
}
.event-card-image{
  max-height: 265px;
  max-width: 398px; 
  object-fit: cover;
}
.event-card-body{
  padding: 8px;
}
.event-card-title {
  display: flex;
  justify-content: space-between;
}

.event-card-header{
  display:flex;
  justify-content: space-between;
  padding-left: .5rem;
}
.event-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.event-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.event-card-dropdown{
  align-self: center;
}

.event-card-location {
  display: flex;
  justify-content: space-between;
}

.event-card-rating{
  display: flex;
  justify-content: center;
}
.event-card-time-of-day::first-letter{
  text-transform: capitalize;
}
.event-card-time-of-day{
  align-self: center;
  background-color: #f48c06;
  padding: .1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}


/* Day Card New*/
.day-card{
  display: flex;
  flex-wrap: wrap;
  width: 816px;
  margin: 8px;
}
.day-card-head{
  display:flex;
  justify-content: space-between;
}
.day-card-dropdown{
  margin-top: -.5rem;
}
.day-card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-card-city{
  padding-top: 1rem;
}
.day-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.day-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.day-card-bottom{
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
}
.day-card-events-header{
 text-decoration:underline;
}
.day-card-events{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-top: -2rem;
}
.day-card-photos{
  align-self: right;
  margin-bottom: 1rem;
  max-width: 397px;
}


/* EVENT PAGE */
.event-page-carousel{
  max-height: 600px;
  max-width: 800px;
  margin-right: auto;
  margin-left:auto;
}
.event-page-images{
  max-height: 600px;
  max-width: 800px;
  object-fit: cover;
}

/* Broswe EVents Page*/

.browseEvents-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Day Form Modal*/

.modalEventCheck{
  display: flex;
  align-items: center;
}
.eventModalCard{
  width: 100%;
}



/* View Day */
.view-day-head{
  display: flex;
  justify-content: space-between;
}
.view-day-user{
  display: flex;
  /* margin-top: .5rem; */
  margin-bottom: .6rem;
}
.view-day-username{
  margin-left: .6rem;
  margin-top: .4rem;
}
.view-day-details{
  display: flex;
  justify-content: space-between;
}
.view-day-description{
  max-width: 800px;
  align-self: center;
}
.view-day-events-header{
  margin-left: 2rem;
}
.view-day-events-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* COMMENT FORM */
.comment-form {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}
.comment-form .form-control {
  border: #1b5983 2px solid;
  height: 3rem;
  line-height: 3rem;
  align-self: center;
}
.comment-form-button{
  margin-right: .5rem;
  background-color: #1b5983;
  height: 3rem;
  align-self: center;
}

.comment-form-user-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: .5rem;
  object-fit: cover;
}

/* COMMENT CARD */

.commentCard {
  width: 100%;
  padding-left: 10px; 
  display:flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  padding: 6px;
}
.comment-card-top{
  display: flex;
  justify-content: space-between;
}
.comment-card-user{
  display: flex;
  margin-top: .5rem;
  margin-bottom: .6rem;
}
.comment-card-username{
  margin-left: .6rem;
  margin-top: .4rem;
  font-weight: 600;
}
.commentUserImage{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.comment-card-comment{
  padding-top: .5rem;
  align-self: center;
  width: 75%;
}
.comment-card-date{
  font-size: smaller;
}

/* SEARCH PAGE */
.searchActionsDiv{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.searchResultsDiv{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.search-page-search{
  width: 50%;
}
.search-page-city-select{
  width: 50%;
}
.search-page-category-select{
  width: 50%;
}

/* USER PAGE */
.user-page-events-header{
  margin-top: 1rem;
  text-align: center;
}
.userEventsDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
